aplicacion/plugin/example/DPluginExample.class
aplicacion/plugin/example/DChatPlugin.class
aplicacion/plugin/example/DPizarraPlugin.class
aplicacion/plugin/example/DCalcPlugin.class
aplicacion/plugin/example/DGestorPlugin.class