import net.jini.core.entry.Entry;
import net.jini.lookup.entry.Name;
import net.jini.jeri.BasicILFactory;
import net.jini.jeri.BasicJeriExporter;
import net.jini.jeri.tcp.TcpServerEndpoint;

com.sun.jini.outrigger {
	initialLookupAttributes=new Entry[]{	new Name("JavaSpace")};
	initialLookupGroups = new String[] { "grupo" };
	serverExporter= new BasicJeriExporter(TcpServerEndpoint.getInstance(0),
	new BasicILFactory());
}